.wrapperHeader {
  background-color: grey;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  color: darkred;
}

.register {
  text-align: left;
}

.signIn {
  margin-bottom: 0%;
}

.search {
  margin-top: 3%;
  margin-left: 7%;
  margin-right: 7%;
}

.result {
  padding: 5%;
}
